<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>391528576977-kbg2r5ef05d75es3ku5pqp9e7e3qgd5g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.391528576977-kbg2r5ef05d75es3ku5pqp9e7e3qgd5g</string>
	<key>API_KEY</key>
	<string>AIzaSyAjtxp43v9UJHJvte4j0b9vl46UHtTf-oU</string>
	<key>GCM_SENDER_ID</key>
	<string>391528576977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shuntanakajima.cozmo</string>
	<key>PROJECT_ID</key>
	<string>cozmo-f3c99</string>
	<key>STORAGE_BUCKET</key>
	<string>cozmo-f3c99.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391528576977:ios:e54dae4e7cb9f703</string>
	<key>DATABASE_URL</key>
	<string>https://cozmo-f3c99.firebaseio.com</string>
</dict>
</plist>